#account-page {
  @include scroller-container(false, true);
  >.header{
    background-color: #fff;
    text-align: center;
    font-size:14px;
    padding:10px 0;
  }
  .account-header {
    background-color: #fff;
    text-align: center;
    padding-bottom: 10px;
    .avatar {
      margin-top: 20px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #f8f8f8;
      display: inline-block;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .avatar-name {
      margin: 10px 0;
    }
    >.button{
      padding: 0 15px;
      margin: 0 auto 20px auto;
      width:130px;
      line-height:30px;
      height:30px;
      border-radius:15px;
      border:1px solid #D2A958;
      color:#D2A958;
    }
  }
  .orders {
    background-color: #fff;
    margin-top: 10px;
    .header {
      padding: 15px;
      border-bottom: 2px solid #ddd;
      @include display(flex);
      @include justify-content(space-between);
      .right {
        > div {
          color: #999999;
          line-height: 18px;
        }
        font-size: 12px;
      }
    }
    .content {
      @include display(flex);
      > .item {
        text-align: center;
        font-size: 13px;
        @include flex(1);
        padding: 15px 0;
        > .icon {
          margin-bottom: 5px;
        }
      }
    }
  }

  .expand {
    margin-top: 10px;
    background-color: #fff;
    position: relative;
    @include clearfix();
    > .item {
      position: relative;
      text-align: center;
      font-size: 13px;
      width: 25%;
      height:0;
      padding-bottom:25%;
      display: block;
      float:left;
      box-shadow: 0 0 0 1px #f8f8f8;
      > .icon {
        margin-top:15px;
        margin-bottom: 5px;
      }
    }
  }
}
