#coupon-page{
  >.mint-header{
    background-color: #fff;
    color:#333;
  }
  >.coupons-list{
    @include scroller-container(true, false);
    padding:10px;
    >.coupons-item{
      padding:15px;
      background-color: #fff;
      border-left:10px solid $primary-color;
      border-radius: 4px;
      margin-bottom:20px;
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(center);
      >.price{
        color: $primary-color;
      }
      >.content{
        >.title{
          margin-bottom:15px;
        }
        >.condition{
          margin-bottom:10px;
        }
        >.condition,>.validate-date{
          font-size:12px;
          color:#ddd;
        }
      }
    }
  }
}

#new-coupon-page{
  >.mint-header{
    background-color: #fff;
    color:#333;
  }
  .mint-cell:last-child{
    background-image: none;
  }
  .mint-cell:first-child .mint-cell-wrapper{
    background-image: none;
  }
}
