#download-page{
  padding-top:50px;
  text-align: center;
  background-color: #fff;
  >img{
    width:150px;
    margin-bottom:60px;
  }
  >div{
    margin-bottom:15px;
  }
  >.button{
    background-color: #e8e2d6;
    display: inline-block;
    padding:15px;
  }
}
