#favorite-page{
  >.favs-list{
    @include scroller-container(true, false);
    padding:10px;
    >.favs-item{
      position: relative;
      &.Product{
        @include product-item();
      }
      &.Article{
        background-color: #fff;
        margin-bottom:10px;
        border-radius:4px;
        overflow: hidden;
        >.image{
          display: block;
          height:150px;
          background-size: cover;
          background-repeat: no-repeat;
        }
        >.title{
          padding:15px 10px;
        }

        >.like-button{
          bottom:10px;
          right:10px;
        }
      }
    }
  }
}
