.filter-bar{
  height:44px;
  @include display(flex);
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(211,211,211,.5);
  >.filter-button{
    @include flex(1);
    text-align: center;
    font-size:14px;
    color:#666;
    padding:12px 0;
    &:last-child>span{
      border-right:0;
    }
    >span{
      width:100%;
      line-height: 20px;
      display: inline-block;
      border-right:1px solid #eeeccc;
      position: relative;
      &:after{
        display: inline-block;
      }
    }
    &.selected{
      color:$primary-color;
    }
    &.is_asc>span:after{
      content:"";
      @include triangle(12px, #666, down);
      position: absolute;
      top:6px;
      margin-left:2px;
    }
    &.selected.is_asc>span:after{
      @include triangle(12px, $primary-color, down);
    }
    &.is_desc>span:after{
      @include transform-origin(50% 50%);
      @include transform(scale(-1));
    }
  }
}
