#newcome-page{
  padding-bottom:$banner-height;
  .product-list{
    >.product-item{
      background-color: #fff;
      display: block;
      text-decoration: none;
      margin-bottom:15px;
      @include display(flex);
      padding:20px;
      >.image{
        width:80px;
        height:80px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      >.info{
        @include flex(1);
        >.title{
          color:#333;
          font-size:16px;
          margin-bottom:20px;
        }
        >.price{
          color:$primary-color;
          margin-bottom:10px;
        }
        >.origin_price{
          font-size:12px;
          color:#999;
        }
      }
    }
  }
}
