#order-page {
  .order-list {
    @include scroller-container(true, false);
    > .order-item {
      margin-top: 10px;
      background-color: #fff;
      padding: 10px 0 10px 15px;
      > .header, > .toolbar {
        @include display(flex);
        @include justify-content(space-between);
        padding-right: 15px;
      }
      > .header {
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
      }
      > .toolbar {
        border-top: 1px solid #ddd;
        padding-top: 10px;
        @include align-items(center);
        > .price {
          color: $primary-color;
          @include font-smoothing();
        }
        .button {
          background-color: $primary-color;
          color: #fff;
          border-radius: 5px;
          padding: 10px 15px;
          font-size: 14px;
          @include font-smoothing();
          &:active {
            background-color: darken($primary-color, 20%);
          }
        }
      }

    }
  }
}

#order-detail-page>.content{
  position: relative;
  @include scroller-container(false, false);
  >.order-header{
    padding:15px 15px 15px 40px;
    background-color: #fff;
    margin-bottom:5px;
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    >.icon-arrow-right{
      width:30px;
      height:30px;
    }
    >.info>.person{
      @include display(flex);
      @include justify-content(space-between);
      margin-bottom:10px;
    }
  }
  >.order-info{
    background-color: #fff;
    padding:0 15px;
    margin-bottom:5px;
    >.detail-info{
      border-bottom: 1px solid #eee;
    }
    >.detail-info>.line{
      @include display(flex);
      @include justify-content(space-between);
      font-size:14px;
      padding:5px 0;
    }
    >.payment-info,>.total-price{
      padding:15px 0;
      >.value{
        color:$primary-color;
      }
    }
    >.shipping-method,>.total-price,>.payment-info{
      @include display(flex);
      @include justify-content(space-between);
    }
    >.shipping-method,>.total-price{
      border-top: 1px solid #eee;
      padding:10px 0;
    }
  }
  >.order-use-coupon{
    background-color: #fff;
    padding:0 15px;
    >.shipping-method{
      padding:15px 0;
      @include display(flex);
      @include justify-content(space-between);
    }
  }
}

#order-detail-page{
  .footer{
    width:100%;
    position: absolute;
    bottom:0;
    >.button{
      padding:15px 0;
      text-align: center;
      color:#fff;
      background-color: $primary-color;
    }
  }
}

#order-page,#order-detail-page{
  .product-list {
    padding-right: 15px;
    > .product-item {
      @include align-items(center);
      padding: 10px 0;
      border-top: 1px solid #eee;
      &:last-child {
        border-bottom: 0;
      }
      &:first-child {
        border-top: 0;
      }
      > .image {
        width: 80px;
        height: 80px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      > .content {
        padding-left: 10px;
        @include flex(1);
        @include display(flex);
        @include justify-content(space-between);
        > .left {
          > .title {

          }
          > .variant {
            color: #999;
            margin-top: 10px;
          }
        }
        > .right {
          text-align: right;
          > .status {
            margin-top: 10px;
            color: #ce2929;
          }
        }
      }
      @include display(flex);
      @include justify-content(space-between);
    }
  }
}

#order-detail-success-page{
  >.content{
    @include scroller-container(false, false);
    text-align: center;
    @include display(flex);
    @include flex-direction(column);
    >.price{
      font-size:24px;
      color:$primary-color;
      margin-top:35px;
      margin-bottom:15px;
    }
    >.title{
      font-size:18px;
    }
    >.divider{
      height:1px;
      width:90%;
      margin:20px auto 10px auto;
      background-color: #DFDFDF;
    }
    >.text{
      color:#666666;
      font-size:13px;
      width:90%;
      margin:0 auto 50px auto;
    }
    >footer{
      @include flex(1);
      background-color: #fff;
      padding-top:40px;
      padding-bottom:30px;
      >.button{
        height:45px;
        line-height:45px;
        border-radius: 4px;
        font-size:13px;
        color:#fff;
        margin:0 15px;
        @include linear-gradient(to right, #F4C9CF, #D7B87C);
      }
    }
  }
}
