.page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #F4F4F4;
  overflow: hidden;
}

#download-bar{
  width:100%;
  position: absolute;
  bottom: 55px;
  z-index: 99999;
}
