#home-page, #product-page {
  .product-list {
    padding: 5px;
    .product-item {
      @include product-masnory-item();
    }
  }
}

#home-page{
  .product-list{
    @include scroller-container(true, true);
  }
  .mint-searchbar-core{
    font-size:12px;
    text-align: center;
    line-height:22px;
    color:#999999;
  }
}

#product-page{
  .product-list {
    @include scroller-container(true, false);
  }
}

#product-detail-page {
  height: 100% !important;
  padding-top: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  .product-content {
    background-color: #f8f8f8;
    margin-bottom:$banner-height + $header-height;
    .product-title {
      padding: 15px 10px 10px 10px;
      text-align: left;
      background-color: #fff;
      margin-bottom: 10px;
      > .title {
        margin-bottom: 10px;
      }
      > .price {
        color: $primary-color;
        margin-bottom: 15px;
        font-size: 16px;
      }
      > .variants {
        font-size: 14px;
        @include font-smoothing();
      }
    }
    .mint-navbar {
      padding-bottom: 2px;
      border-bottom: 1px solid #DADBDB;
    }
    > .content {
      background-color: #fff;
      padding: 15px;
      > .item {
        > img {
          width: 100%;
        }
        margin-bottom:10px;
      }
      >.title{
        padding:0 10px;
        color:$primary-color;
        @include font-smoothing();
        margin-bottom:10px;
        >.icon{
          margin-right:10px;
          vertical-align: middle;
        }
        >span{
          vertical-align: middle;
        }
      }
      >.text{
        padding:0 10px;
        margin-bottom:10px;
      }
      margin-bottom:15px;
    }
  }

  .related-title {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding-top:10px;
    padding-bottom: 10px;
    &:before {
      content: "";
      width: 50%;
      height: 1px;
      background-color: $primary-color;
      position: absolute;
      z-index: 0;
      left: 50%;
      @include transform(translateX(-50%));
      bottom: calc(50% - 1px);
    }
    &:after {
      content: "相关商品推荐";
      font-size: 14px;
      color: #333;
      background-color: #fff;
      z-index: 1;
      position: relative;
      padding: 0 10px;
    }
  }

  .related-product-list {
    padding: 0 5px 5px 5px;
    background-color: #fff;
    @include clearfix();
    > .product-item {
      @include product-masnory-item();
    }
  }
  footer{
    border-top:1px solid #DDDDDD;
    position: fixed;
    bottom:0;
    z-index: 9999;
    background-color: #fff;
    height:50px;
    width:100%;
    @include clearfix();
    .left{
      height:50px;
      float:left;
    }
    .right{
      height:50px;
      white-space: nowrap;
      float:right;
    }
    .button{
      display: inline-block;
      font-size:14px;
      &.icon{
        margin-left:10px;
        padding:10px;
        text-align: center;
        >div{
          width:16px;
          height:16px;
        }
        >span{
          color:#333;
          display: block;
          font-size:12px;
        }
      }
      &.black{
        background-color: #221814;
        color:#fff;
        padding:0 20px;
        line-height:50px;
      }
      &.gold{
        color:#fff;
        padding:0 18px;
        line-height:50px;
        @include linear-gradient(to right, #F4C9CF, #D2A958);
      }
    }
  }
}
