.mint-tabbar{
  z-index:999999;
}

.mint-tab-item{
  background-color: #fff;
  .mint-tab-item-label{
    -webkit-font-smoothing: antialiased;
  }
  &.is-selected{
    .mint-tab-item-icon{
    }
  }
}
