[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width:24px;
  height:24px;
}

.icon-home{
  background-image: url('../assets/home@2x.png');
}
.icon-category{
  background-image: url('../assets/category@2x.png');
}
.icon-collection{
  background-image: url('../assets/collection@2x.png');
}
.icon-cart{
  background-image: url('../assets/cart@2x.png');
}
.icon-account{
  background-image: url('../assets/account@2x.png');
}
.icon-back{
  background-image: url('../assets/back@2x.png');
}
.icon-share{
  background-image: url('../assets/share@2x.png');
}
.icon-unlike-o{
  background-image: url('../assets/unlike-o@2x.png');
}
.icon-unpaid{
  background-image: url('../assets/unpaid@2x.png');
}
.icon-received{
  background-image: url('../assets/received@2x.png');
}
.icon-unreceived{
  background-image: url('../assets/unreceived@2x.png');
}
.icon-voucher{
  background-image: url('../assets/voucher@2x.png');
}
.icon-address{
  background-image: url('../assets/address@2x.png');
}
.icon-contact{
  background-image: url('../assets/contact@2x.png');
}
.icon-download{
  background-image: url('../assets/download@2x.png');
}
.icon-favorite{
  background-image: url('../assets/favorite@2x.png');
}
.icon-safe{
  background-image: url('../assets/safe@2x.png');
}
.icon-shipping{
  background-image: url('../assets/shipping@2x.png');
}
.icon-sales{
  background-image: url('../assets/sales@2x.png');
}

.is-selected{
  .icon-home{
    background-image: url('../assets/home_selected@2x.png');
  }
  .icon-category{
    background-image: url('../assets/category_selected@2x.png');
  }
  .icon-collection{
    background-image: url('../assets/collection_selected@2x.png');
  }
  .icon-cart{
    background-image: url('../assets/cart_selected@2x.png');
  }
  .icon-account{
    background-image: url('../assets/account_selected@2x.png');
  }
  .icon-contact{
    background-image: url('../assets/contact_selected@2x.png');
  }
}
