//======= Colors
//** Primary Color
$primary-color:									#DCB76B !default;


//** Width, Height, Padding, Margin
$header-height:									44px;
$banner-height:						      70px;
$bottom-height:									55px;

